*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
 body{
    background: #000;
    color: #fff;
 }
 .header{
    width: 100%;
    height: 678px;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner1.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
    border-bottom: 5px solid gray;
 }
 nav{
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding:10px 0;
 }

 nav svg{
    width: 9.25rem;
    height: 2.5rem;
    color: rgba(229, 9, 20, 1);
    fill: currentColor;
    cursor: pointer;
 }
 nav .sign-in{
    background-color: rgba(229, 9, 20, 1);
    font-size: 12px;
    margin-left: 10px;


 }
 .language-btn{
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 5px;
    width: 121px;
 }
 .language-btn img{
   width: 13px;
 }
 .header-content{
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    

 }
 .header-content h1{
    font-size: 50px;
    line-height: 70px;
    font-weight: 600;
 }
 .header-content h3{
    font-weight: 400;
    margin-bottom: 20px;
 }
 .email-signup{
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
    border: 1px solid gray;

 }
 .email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    background: transparent;
 }
 .email-signup button{
    background: #db0001;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 13px;
 }
 .features{
   padding: 132px;

 }
 .features p{
   font-size: 1.5rem;
 }
 /* .col img{
   width:505px;
 } */
.row{
    align-items: center;
}
.features h2{
font-size: 50px;
font-weight: 600;
margin-bottom: 14px;
}
/* ------------------------------------------------- */
.faq{
   padding: 58px 12%;
}
.accordion{
   width: 100%;
   margin: 60px auto;
}
.accordion li{
   list-style: none;
   width: 100%;
   padding: 5px;

}
.accordion li label{
   display: flex;
   align-items: center;
   padding: 20px;
   font-size: 18px;
   /* font-weight: 500; */
   background: #303030;
   margin-bottom: 2px;
   cursor: pointer;
   position: relative;
}
label::after{
   content: '+';
   font-size: 34px;
   position: absolute;
   right: 20px;

}
input[type="radio"]{
   display: none;
}
.accordion .content{
   background: #303030;
   text-align: left;
   padding: 0 20px;
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.5s,padding 0.5s;
}
.accordion input[type="radio"]:checked + label + .content{
   max-height: 600px;
   padding: 30px 20px;
}
.accordion input[type="radio"]:checked + label::after{
   transform: rotate(135deg);
}
.accordion .email-signup{
   margin: 20px auto 60px;
}
/* --------------footer--------------- */
.footer{
padding: 50px 15% 10px;
color: #777;
}
.footer h2{
   font-size: 18px;
   font-weight: 400;
   margin-bottom: 30px;
}
.footer .col a{
   display: block;
   text-decoration: none;
   color: #777;
   font-size: 14px;
   margin-bottom: 10px;

}
.footer .row{
   align-items: flex-start;
   padding: 10px 0;
}
.footer .language-btn{
   margin-top: 25px;
    border: 1px solid gray;
}
.copyright{
font-size: 14px;
margin-top: 15px;
}
/* -------------------------media------------- */
@media only screen and (max-width:1200px) {
  .header{
   padding: 10px 3%;
  } 
  .header-content{
   width: 100%;

}
  .header-content h1{
   font-size: 53px;
  }
  .header-content h3{
   font-size: 1.5rem;
   font-weight: 400;
  }
  .header-content p{
   font-size: 18px;
  }
  .features{
   padding: 49px;
  }
  .faq{
   padding: 3%;
  }
  .faq h2{
   font-size: 66px;
  }
  .faq h3{
   font-size: 19px;
  }
  .footer{
   padding: 20px;
  }
      
}
@media only screen and (max-width:992px) {
   .header-content{
      width: 100%;

   }
   .header-content h1{
      font-size: 46px;
   }
}
@media only screen and (max-width:992px) {
.features .row{align-items: center;
text-align: center;
}


}
@media only screen and (max-width:600px) {
   nav svg{
      width: 18%;
   }
   nav .language-btn{
      padding: 4px;
      width: 91px;
      font-size: 13px;
   }
   .header-content{
      position: unset;
      transform: none;
      padding-top: 150px;
   }
   .header-content h1{
      font-size: 30px;
    line-height: 47px;
   }
   .features h2{
      font-size: 36px;
   }
   .features p{
      font-size: 16px;
   }
   .faq h2{
      font-size: 39px;
   }
   .accordion{
      margin-left: -9px;
   }
   .email-signup button{
      font-size: 12px;
      padding: 10px 15px;
   }
   .footer div{
      display: block;
   }
}